<table class="table table-bordered table-striped">
    
    <colgroup>
        <col class="col-xs-10">
        <col class="col-xs-2">
    </colgroup>
    
    <thead>
        <tr>
            <th>Description</th>
            <th class="text-center">Remove</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-if="!$ctrl.lists.length">
            <td colspan="2" class="text-center">You have no tasks lists yet.</td>
        </tr>
        
        <tr ng-repeat="list in $ctrl.lists">
            <td>
                <a ui-sref="tasks({ id: list._id })">
                    {{list.description}}
                </a>
            </td>
            
            <td>
                <div class="text-center">
                    <button type="submit" value="Remove" class="btn btn-warning btn-sm" ng-click="$ctrl.delete(list);">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </td>
        </tr>

    </tbody>
</table>